:root{
    --primary-text-color:#434455;
    --secondary-text-color: #2E2F42;
    --third-text-color: #E7E9FC;
    
    --primary-bg-color: #fff;
    --second-bg-color: #F4F4FD;
    

    --accent-color:#4D5AE5;
    --secondary-accent-color:#404BBF;
    --customers-color:#8E8F99;;
}
body{  
    
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    margin: 0;
        
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    /* margin-bottom: 0; */
    padding: 0;
}
/* ---------------common styles------------ */
.container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

}

.logo{
    color: var(--secondary-text-color);
    font-family: Raleway, sans-serif;;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
}
.logo-part{
    color: var(--accent-color);
}
.hero-title { /*h1*/
    font-size: 56px;
    color: var(--primary-bg-color);
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    margin: 0 auto 48px auto;
    width: 496px;
 
}
/* h2 */
.section-title{
    font-size: 36px;
    line-height: 1.11;
    color: var(--secondary-text-color);
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.02em;
}
/* h3 */
.title{
    font-size: 20px;
    color: var(--secondary-text-color);
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 1px;
}

/* p */
.text{
    line-height: 1.5;
    color: var(--primary-text-color);
}
/* ul */
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

.section {
    padding-bottom: 120px;
    padding-top: 120px;
}
.button {

    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    border: 1px solid transparent;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.04em;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    min-width: 169px;
    text-align: center;
    padding: 16px 32px;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    color: var(--primary-bg-color);
    background-color: var(--secondary-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* main title color 2E2F42*/
/* main text color #434455*/
/* second background color  #F4F4FD*/
/* accent color (hover/focus)  #4D5AE5*/


/* ------------ header and footer styles --------------- */
.header{
    border-bottom:  1px solid var(--third-text-color);
}
.container.header-navigation{
    display: flex;
    align-items: center;

}
.main-nav{
    display: flex;
    align-items: center;
}
.site-nav{
    display: flex;  
    margin-left: 76px;
}
.site-nav .item:not(:last-child){
    margin-right: 40px;
}

.site-nav .link{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--secondary-accent-color);
}
.site-nav .active-link{
    position: relative;
    color: var(--secondary-accent-color);
}
.site-nav .active-link::after{
    content: '';

    position: absolute;
    bottom:0;
    left:0;
    
    width: 100%;
    height: 4px;
    background-color: var(--secondary-accent-color);
    border-radius: 2px;

}
.address-nav{
    display: flex;
        margin-left: auto;

}
.auth-nav{
    display: flex;
   }
.auth-nav .item:not(:last-child) {
    margin-right: 40px;
}
 .auth-nav .contacts{
    font-size: 16px;
    color: var(--secondary-text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style:normal;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.auth-nav .contacts:hover,
.auth-nav .contacts:focus {
    
    color: var(--secondary-accent-color);

}
/* Footer */
.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    

    background-color: var(--secondary-text-color);
    color: var(--third-text-color);
}
.footer-container{
    display: flex;
   
}

.footer-logo{
    color: var(--second-bg-color);
    line-height: 1.5;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}
.container .footer-info {
    width: 264px;
    margin-right:0;
}
.footer-info .footer-text{
margin-top: 16px;
}
.footer-social-media{
    margin-right: 80px;
    margin-left: 120px;
}
.footer-social-media .title{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--primary-bg-color);
    margin-bottom: 16px;
}
.footer-social-media .list{
    display: flex;
    justify-content: center;
    gap:16px;
    
        
}
.social-media-link{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:var(--primary-text-color);
    color: var(--primary-bg-color);
    border-radius: 50%;
    padding: 8px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     
 }

.social-media-link:hover, .social-media-link:focus {
    background-color: #31D0AA;
    
}

 .sc-md-icon{
    display: block;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    fill: currentColor;
 }
 /* footer-form */

 .footer-form-title{
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.5;
    color: var(--primary-bg-color)
 }
 .subscribe-field{
    display: flex;
        align-items: center;
        gap: 24px;
 }
 .mail-input{
    width: 264px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    line-height: 2;
    background-color: transparent;
    color: var(--third-text-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
 }

 .subscribe-button{
    padding: 8px 24px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

 .subscribe-icon{
    width: 24px;
    height: 24px;
    /* margin-left: 16px; */
    fill: currentColor;
 }
/* --------------main part styles---------- */

/* hero section */
 
.hero {
    background-color: #2E2F42;
    text-align: center;
    padding: 188px 0;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/bg-image.jpg);
    max-width: 1440px;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

/* ---------- values, services, teammembers sections--- */

section.services {
    padding-top: 0;
    

}
.services .section-title,
.team .section-title, .customers .section-title {
    margin-bottom: 72px;
}
img.teammember,
.service-list img,
img.worke-xample {
    display: block;
}


.advantages-list.list, .service-list.list, .list.team-list, .list.customers-list{
    display: flex;
    
}
.advantages-list .item{
    flex-basis: calc((100% -24px*3)/4);
    /* 264px; */
    
}
.advantages-list .thumb{
    display: flex;
    height: 112px;
    background-color:var(--second-bg-color);
    margin-bottom: 8px;
    color: var(--secondary-text-color);
    align-items: center;
    justify-content: center;
}

 .thumb .advantage-icon{
    fill: currentColor;
    display: inline-block;
    width: 64px;
    height: 64px;
}


.advantages-list .item:not(:last-child){
    margin-right: 24px;
}
.advantages-list .title{
    margin-bottom: 8px;
}
/* services */
.section.team{
background-color: var(--second-bg-color);
}
.service-list .item{
    flex-basis: content;
    
}
.service-list .item:not(:last-child) {
    margin-right: 24px;
}
.team-list .team-info {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}
.team-info .text{
    margin-bottom: 8px;
}

.team-list .team-item {
    flex-basis: 264px;
    
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}



.team-list .team-item:not(:last-child) {
    margin-right: 24px;
}

.team-list .title {
    margin-bottom: 8px;
}

.team-list .teammember {
    display: block;
}



.team-info .list{
    display: flex;
    gap:24px;
    justify-content: center;
}

.soc-med-link{
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    border-radius: 50%;
    padding: 12px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-med-link:hover, .soc-med-link:focus{
    background-color: var(--secondary-accent-color);
    
}
.soc-med-icon{
    width: 16px;
    height: 16px;
    fill:currentColor;
}



/* customers */
.customers-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.customer-item .link{
    display: inline-block;
    width: 168px;
    height: 88px;
    padding: 16px 31px;
    border: 1px solid var(--customers-color);
    border-radius: 4px;
    color: var(--customers-color);
    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-item .link:hover, .customer-item .link:focus{
        border-color: var(--secondary-accent-color);
        color: var(--secondary-accent-color);
}
.customer-icon {
    display: block;
    width: 104px;
    height: 56px;
    fill: currentColor;

}

/* PORTFOLIO page */


.button.btn-secondary {
    color: var(--accent-color);
    background-color: var(--second-bg-color);
    border-color: var(--third-text-color);
    
    min-width: 69px;
    padding: 12px 24px;

    transition-property: background-color, color, box-shadow, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}
.button.btn-secondary:hover,
.button.btn-secondary:focus {
    color: var(--primary-bg-color);
    background-color: var(--secondary-accent-color);
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}
.examples {
    padding-top: 96px;
    padding-bottom: 120px;
   
}
.list.filter-btns{
    display: flex;
    column-gap: 24px;
    justify-content: center;
    margin-bottom: 72px;

}
.list.works-list {
    display: flex;
    flex-wrap: wrap;
    
    
}
img.work-example {
    display: block;

}
.list.works-list .portfolio{
 flex-basis: calc((100% - 2*24px)/3);
}
.portfolio {
    margin-bottom: 48px;
    margin-right: 24px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    
    /* outline: 1px solid green; */

}
.portfolio:hover, .portfolio:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio .link {
/* width: 100%; */
}
.portfolio:nth-last-child(-n + 3) {
    margin-bottom: 0;
    
}

.portfolio:nth-child(3n+3) {
    margin-right: 0;

}
.portfolio-content{ 
    padding-left: 16px;
    padding-bottom: 32px;
    padding-top: 32px;
    border-right: 1px solid var(--third-text-color);
    border-left: 1px solid var(--third-text-color);
    border-bottom: 1px solid var(--third-text-color);
   
}
.portfolio-content .title{
    margin-bottom: 8px;
}
.product-thumb{
    position: relative;
}

 .overlay::before {
     display: inline-block;
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #4D5AE5;
     opacity: 0;
     transition-property: opacity, transform;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     transform: scaleY(0);
     /* transform: translateY(100%); */
     transform-origin: bottom;

 }

 .portfolio:hover .overlay::before, .portfolio:focus .overlay::before {
     opacity: 1;
     transform: scaleY(1);
     /* transform: translateY(0); */
 }
.overlay-text{
    color: var(--second-bg-color);
    opacity: 0;
    position: absolute;
        top: 40px;
        left: 32px;
        right: 32px;
        transform: translateY(260px);
        opacity: 0;
        transition-property: opacity, transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio:hover .overlay-text, .portfolio:focus .overlay-text {
    transform: translateY(0);
    opacity: 1;
}

/* MODAL window */
.backdrop{
    position: fixed;
    top:0;
    left:0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);
    transition-property: opacity, transform, background-color, visibility;
    transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal{
    width: 100%;
    height: 100%;
    max-width: 408px;
    max-height: 576px;

    position: relative;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */

    background-color: var(--primary-bg-color);
    opacity: 1;
    transition-property: opacity,
        transform,
        background-color,
        visibility;
    transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

     padding: 72px 24px 24px 24px;
    
}

.modal .close-button{
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;
    background-color: var(--third-text-color);
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin:0;
    
    cursor: pointer;
    transition-property: color, background-color; 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
    
}
.modal .close-button:hover, .modal .close-button:focus{
    background-color: var(--secondary-accent-color);
    color: var(--primary-bg-color);
}
.close-button .close-icon{
    display: block;
    width: 8px;
    height: 8px;

    fill: currentColor;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     
}

.form-description{
    margin-bottom: 16px;
    text-align: center;
    line-height: 1.5;
}
/* .form-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin-bottom: 16px;
} */

.modal-label{
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap:4px;
    color:var(--customers-color);
    font-size: 12px;
    line-height: 1.16;
    position: relative;
    margin-bottom: 8px;
    height: 58px;


}
.form-input{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 16px;
    padding-top:8px;
    padding-bottom: 8px;
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px;
    color: var(--secondary-text-color);
    padding-left: 38px;
    
    

}
.form-input:focus-visible, .form-input:focus{
    border: 1px solid var(--accent-color) ;
    color: var(--accent-color);
    
}

.input-icon{
    width: 18px;
    height: 24px;
    position: absolute;
    top: 21px;
    left: 16px;
    
    display: inline-block;
    fill: var(--secondary-text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus-visible + .input-icon,
.form-input:focus + .input-icon {
    fill: var(--accent-color);

}
.textarea-label{
    height: 138px;
}
.textarea{
    resize: none;
    padding-left: 16px;
    height: 120px;
}
.textarea:placeholder {
    color: rgb(117, 117, 117, 0.5)
}
.modal-checkbox{
    display: block;
    margin-bottom: 24px;
    margin-top: 16px;
    font-size: 12px;
    position: relative;
    padding-left: 24px;
}
.form-button{
    text-align: center;
}
.checkbox{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.click-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    fill: #fff;
    position: absolute;
    top: -1px;
    left: 0px;
    border: 1.25px solid var(--secondary-text-color);
    border-radius: 2px;
    transition-property: fill, border, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .click-icon{
    background-color: var(--secondary-accent-color);
    fill: #fff;
    border: none;
}
